h1{
    text-align: center;
    font-family: "Libre Baskerville", serif;
    margin-bottom:20px;
    color:white;
    margin-top: 40px;
}
img{
    border:5px white solid;
    width: 100%;
}
div{
    
    width:50%;
    margin-left:25%;
    margin-top: 100px;
    background-color: rgb(21, 1, 1);
}
p{
    text-align: center;
    font-size:30px;
    color:white;
    margin-top: 40px;
}
body{
    
    background-color: black;
}